<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Lib de Boostrap -->
            <link rel="stylesheet" href="{{ asset('public/libs/bootstrap/dist/css/bootstrap.min.css')}}">
            <!-- Lib de DataTable -->
            <link rel="stylesheet" href="{{ asset('public/libs/datatables.net-dt/css/jquery.dataTables.min.css')}}">
            <!-- Lib de iconos FontAwesome -->
            <link rel="stylesheet" href="{{ asset('public/libs/font-awesome/css/font-awesome.min.css')}}">
            <!-- Lib del proyecto -->
            <link rel="stylesheet" href="{{ asset('public/css/practica.min.css')}}">
        {% endblock %}
        {% block javascripts %}
            <!-- Para crear Rutas -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <!-- Lib de Jquery -->
            <script src="{{ asset('public/libs/jquery/dist/jquery.min.js') }}"></script>
            <!-- Lib de Boostrap -->
            <script src="{{ asset('public/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <!-- Lib de DataTable -->
            <script src="{{ asset('public/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
            {# <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script> #}
            <!-- Lib del proyecto -->
            <script src="{{ asset('public/js/practica.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>