{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}
   <div class="container-fluid">
        <div id="contedor_principal"></div>
    </div>
{% endblock %}
