<div class="row" id="vista">
    <div id="contenedorGrafica" class="col-md-6">Grafica
    {# Por mientras para hacer unas pruebas #}
    <button id="btn-insertReac"> Insertar reactivos </button>
    </div>
    <div id="contenedorTabla" class="col-md-6">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {% for nomCampos in resNomCamp %}
                        <th>{{ nomCampos.COLUMN_NAME|capitalize }}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>    
</div>